{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div style="margin-top: 70px;">
        <form method="post" action="{% url 'login' %}" class="justify-content-center">
            
            <h2><b>Login</b></h2>
            <br>
            {% csrf_token %}
            
            <label style="width:200px;display:inline-block;text-align:left;">{{ form.username.label_tag }}</label>
            {{ form.username }}
            <br>
            <br>
            <label style="width:200px;display:inline-block;text-align:left;">{{ form.password.label_tag }}</label>
            {{ form.password }}
            <br>
            <br>
            <br>
            <div>
                <input type="submit" class="save btn btn-secondary" value="Login">
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

        </form>
    </div>
{% endblock %}