{% load static %}
<html>
    <head>
        <title>Techy Blogs</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header" style="background-color:#32a8a6;">
            <ol>
                {% if user.is_authenticated %}
                
                    <p class="top-menu">Welcome "{{ user.username }}"&nbsp&nbsp&nbsp&nbsp<a href="{% url 'logout' %}"><input class="btn btn-default" value="Logout" style="width: 100px;"></a></p>
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    
                {% else %}
                    <a href="{% url 'signup' %}" class="top-menu">SignUp</a>        
                    <a href="{% url 'login' %}" class="top-menu">Login</a>
                {% endif %}
                <h1 style="text-decoration: underline;"><a href="/">Techy Blogs</a></h1>
            </ol>
        </div>

        <div class="content container" style="margin-left:25%;">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>