{% extends 'blog/base.html' %}

{% block content %}
<h2 style="text-decoration:underline;"><b>Your Drafts</b></h2>
<hr>
<br>
    {% for post in posts %}
        {% if user.is_authenticated and user == post.author %}
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}